/* *{ */
/* margin: 0; */
/* padding: 0;  */
/* } */


/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}




/* header style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;

}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;

}

.header-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

/* header related class */
.header {
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-pic {
    width: 500px
}

.banner-content {
    max-width: 585px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-name {
    color: #181818;
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}

.banner-describe {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;


}

/* main section style */
main {
    max-width: 1145px;
    margin: auto;
}

/* about section style  */
.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;


}

.about-info-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-info {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}